* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', Arial, sans-serif;
    -webkit-user-drag: none;
    user-select: none;
    color: var(--light-dark);
}
body {
    background-color: var(--default-bg);
    transition: background-color 0.2s;
}
body.dark {
    background-color: #333;
}

:root {
    --default-bg: #f5f5f5;
    --light-dark: #1a1a1a;
    --darker-white: #f0f0f0;
    --very-dark-white: #e5e5e5;
    --light-gray: #696969;

    --float-up: 0 8px 16px rgba(0, 0, 0, 0.1);
    --light-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    --very-light-shadow: 0 2px 4px rgba(0, 0, 0, 0.07);
    --normal-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    --inset-shadow: inset 7px 7px 18px #9b9b9b,
                    inset -7px -7px 18px #ffffff;
    --light-inset-shadow: inset 3px 3px 9px #9b9b9b,
                          inset -3px -3px 9px #ffffff;

    --error-red: #ef4444;
    --normal-red: #dc2626;
    --dark-red: #b91c1c;
    --blueish-color: #3498db;
    --light-green: #4ade80;

    --light-border: 1px solid rgba(0, 0, 0, 0.1);
}


.back-to-homePage { /* back button: "←" or "→" or "↑" or "↓"*/
    position: fixed;
    text-decoration: none;
    box-shadow: var(--light-shadow);
    top: 1.25rem;
    left: 1.25rem;
    padding: 0.75rem 1.25rem;
    border-radius: 1rem;
    font-size: 1.875rem;
    background-color: white;
    cursor: pointer;
    z-index: 99;
}
body.dark .back-to-homePage {
    background-color: var(--light-dark);
    color: gray;
}
.back-to-homePage:hover {
    transform: translateX(-1px);
    box-shadow: var(--very-light-shadow);
}
.back-to-homePage:active {
    transform: translateX(-2px);
    box-shadow: var(--light-inset-shadow);
}
body.dark .back-to-homePage:active {
    box-shadow: none;
}
.back-down {
    top: 3em;
}
.center-div {
    display: flex;
    align-items: center;
    justify-content: center;
}
.bold {
    font-weight: bold;
    font-size: 40px;
}
img {
    width: 100%;
}